@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #0a0a0a;

  --muted: #525252;            /* approx neutral-600 */
  --muted-foreground: #737373; /* approx neutral-500 */

  --border: #e5e5e5;           /* approx neutral-200 */
  --card: #ffffff;

  --ring: #0a0a0a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;

    --muted: #a3a3a3;
    --muted-foreground: #bdbdbd;

    --border: #262626;
    --card: #0f0f0f;

    --ring: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
